.loadMoreBtn {
  display: block;
  margin: 20px auto 40px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.loadMoreBtn:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}
